<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/activity.css" />
    <title>IMTIAZUX</title>
</head>
<body>
<header>
        <div class="container">
        <div class="logo_container">
            <a class="logo_container__link" href="/index">
                <img class="logo_conatainer__link__img" src="/static/img/logo.svg" style="width:30px; /">
                <p>IMTIAZUX</p>
                <div class="link">
                    <nav>
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/market">Market</a></li>
                            <li><a href="/activity">Activity</a></li>
                            <li><a href="/community">Community</a></li>
                            <li><a href="/wallet">Wallet</a></li>
                        </ul>
                    </nav>
                </div>
        </div>
            <div class="intro">
                <div class="photo"><img src="/static/img/photoactivity.png" alt="flower" style="width:650px; height: 650px;"></div>
                <div class="text_left">
                    <div class="text1">Filter by</div>
                    <form>
                <input type="text" placeholder="Artist or collection">
                <button type="submit"></button>
                    </form>
            <div class="text2">To search, click the button below (Apply).</div>
            <div class="buttoms">
                <a href="" class="buttom1">Apply</a>
            </div>
                </div>
        </div>
    </header>
</body>
</html>