<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/community.css" />
    <title>IMTIAZUX</title>
</head>
<body>
<header>
        <div class="container">
        <div class="logo_container">
            <a class="logo_container__link" href="/index">
                <img class="logo_conatainer__link__img" src="/static/img/logo.svg" style="width:30px; /">
                <p>IMTIAZUX</p>
                <div class="link">
                    <nav>
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/market">Market</a></li>
                            <li><a href="/activity">Activity</a></li>
                            <li><a href="/community">Community</a></li>
                            <li><a href="/wallet">Wallet</a></li>
                        </ul>
                    </nav>
                </div>
        </div>
            <div class="intro">
                <div class="photo"><img src="/static/img/com.png" alt="flower" style="width:650px; height: 650px;"></div>
                <div class="text_left">
            <div class="text1">Subscribe to our NFT communities.</div>
                </div>
                <div class="information">
                    <p class="vk"><a href="/"><img src="/static/img/vk.svg" width="25" height="25" alt="reality"></a></p>
                    <div class="info">Vkontakte</div>
                    <p class="stick"><a href="/"><img src="/static/img/inst.svg" width="25" height="25" alt="reality"></a></p>
            <div class="info">Instagram</div>
                    <p class="stick"><a href="/"><img src="/static/img/telega.svg" width="25" height="25" alt="reality"></a></p>
            <div class="info">Telegram</div>
                </div>
        </div>
    </header>
</body>
</html>