<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/home.css" />
    <title>IMTIAZUX</title>
</head>
<body>
<header>
        <div class="container">
        <div class="logo_container">
            <a class="logo_container__link" href="/index">
                <img class="logo_conatainer__link__img" src="/static/img/logo.svg" style="width:30px; /">
                <p>IMTIAZUX</p>
                <div class="link">
                    <nav>
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/market">Market</a></li>
                            <li><a href="/activity">Activity</a></li>
                            <li><a href="/community">Community</a></li>
                            <li><a href="/wallet">Wallet</a></li>
                        </ul>
                    </nav>
                </div>
        </div>
            <div class="intro">
                <div class="photo"><img src="/static/img/what.png" alt="eyes" style="width:650px; height: 650px;"></div>
                <div class="text_left">
            <div class="text1">NFT is a type of cryptographic tokens, each instance of which is unique and cannot be exchanged or replaced by another similar token.</div>
            <div class="text2">A non-interchangeable token is a cryptographic certificate of a digital object with the ability to transfer the certificate through a mechanism used in cryptocurrencies. The token itself is not a confirmation of the right to own a digital asset in the context of copyright law. NFT does not prevent copying of the object, it only assigns to the owner a "digital chip" created on the basis of one of the copies of the digital artifact. There are also no obstacles to the formation of several different tokens for the same file. But if the participants agree that only the real owner can form the NFT and the further transfer of the NFT occurs only in connection with the transfer of the corresponding rights to the original digital object, then the NFT can act as a marker indicating the current owner of the object.</div>
                </div>
        </div>
    </header>
</body>
</html>