<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/wallet.css" />
    <title>IMTIAZUX</title>
</head>
<body>
<header>
        <div class="container">
        <div class="logo_container">
            <a class="logo_container__link" href="/index">
                <img class="logo_conatainer__link__img" src="/static/img/logo.svg" style="width:30px; /">
                <p>IMTIAZUX</p>
                <div class="link">
                    <nav>
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/market">Market</a></li>
                            <li><a href="/activity">Activity</a></li>
                            <li><a href="/community">Community</a></li>
                            <li><a href="/wallet">Wallet</a></li>
                        </ul>
                    </nav>
                </div>
        </div>
            <div class="intro">
                <div class="text_left">
            <div class="text1">Top up your account:</div>
            <div class="text2">Your name and surname:</div>
                    <input name="guruweba_example_text" type="text" />
                    <section>
                        <div class="text2">Card number:</div>
                    <input name="guruweba_example_text" type="text" />
    <select class="visa">
        <option value="1">Visa</option>
        <option value="2">Tinkoff</option>
        <option value="3">Qiwi</option>
    </select>
</section>
            <div class="buttoms">
                <a href="" class="buttom1">Replenish</a>
            </div>
                </div>
        </div>
    </header>
</body>
</html>